<app-left-nav></app-left-nav>
<main id="main" class="main">

  <i class="bi bi-arrow-left-circle toggle-sidebar-btn large-icon" (click)="handleLeftMenuInternal()"></i>&nbsp;Page
  level Menu
  <div class="pagetitle">
    <h1>Welcome (स्वागतम्) to Vedic WIKI</h1>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-md-12">
        <p class="py-6">
          Namaste and welcome to Vedic WIKI. This website is intended wholly for
          the purpose of gathering and giving information on Vēdas and Sastras.
          On this website you will find all that you want to know about Vēdas and Sastras in
          brief and in some cases extensively. We are doing rigorous work on Vēdas with
          impartial attitude. Since the work should be truthful and scientific some of the data
          will be given as and when it is updated. We are ready to clarify information pertaining
          to Vēdas and Sastras to the best of our knowledge.
        </p>
      </div>

      <p class="py-6">
        Vēdas contain all factual education (Vidya) of past, present and future.
        Vēdas contain basically two types of education1, (1) Apara Vidya and (2) Para Vidya.
        From elementary particle to Prakrithi (Nature) all materials and their properties, functions and
        what can be achieved from them are described in Apara Vidya. The true knowledge of God is
        given by Para Vidya. Vēdas contain Vidyas that can be further classified as (a) Vignana (All materials True
        Knowledge)
        (b) Karma (Duties) (c) Upaasana (Being near to God) (d) Gnana (Knowledge).
        Utilizing Karma, Upaasana and Gyana properly and knowing all the materials from the elementary
        particles to God and getting benefit from them is called Vignana.
      </p>
      <p class="py-6">
        Vēdas are given by God in the form of Rig-Vēda, Yajur-Vēda, Sama-Vēda and Atharva-Vēda.
        Rig-Vēda contains 10,522 Mantras, Yajur-Vēda contains 1,975 Mantras,
        Sama-Vēda contains 1,875 Mantras and Atharva-Vēda contains 5,977 Mantras.
        The total Vēda Mantras are 20,349.
      </p>

      <h5>Vēdas are the knowledge of God.</h5>
      <p class="py-6">
        At the beginning of creation God gave the knowledge of four Vēdas to four Rishis. Rig Vēd to Agni, Yajur Vēd to
        Vāyu, Sāma Vēd to Surya and Atharva Vēd to Angirasa. Here the names Agni, Vāyu, Surya and Angirasa belong to
        Rishis who are humans and are not of any Devatha (divine material) found in Vēdas.
        The language of Vēdas is Samskrutham.
      </p>
      <p class="py-6">
        According to Rishis Vēdas are described as follows. Those in which the properties, activities and nature of God
        are described and in which there is no dispute in the order of creation of the world and in which proofs of
        science can be found and in which there is no illusion or confusion and in which cause and reason about the
        universe and its constituents are described and in which truth and only truth is given and which are self
        vouching are called Vēdas, Sruthis, Nigamas, Chanddass or Mantras.
        What different Maharishis got to say on the Authorship and importance of Vēdas
      </p>
      <p class="py-6">
        According to Manu2 “Every Arya must read or listen to Vēda at least once in a day”.</p>
      <p class="py-6">
        According to Rishi Kanva “The descriptions in Vēdas is filled with knowledge and are given by God. The education
        in it is completely impartial and only truth is given. I agree to take Vēdas as proof for describing science”.
      </p>
      <p class="py-6">
        According to Rishi Goutham “Vēdas are eternal and must be taken as proof for Science”.
      </p>
      <p class="py-6">
        According to Maharishi Patanjali “Our Ancients Agni, Vāyu, Surya, Angirasa, Brahma were born at the beginning of
        the world (Off course along with many others). From them to us God is the teacher and with the Vēdas He gave us
        knowledge”.
      </p>
      <p class="py-6">
        According to Maharishi Kapila “From the knowledge of God, Vēdas were evolved. So Vēdas are self vouching. No
        other proof is required”.
      </p>
      <p class="py-6">
        According to Maharishi Sri Krishna Dvipayana (Vyasa Maharishi) “The four Vēdas are filled with all types of
        education. They are self radiant and contain only truth and nothing but truth. Other than God no one could give
        them to us”.
      </p>
      <p class="py-6">
        According to Maharishi Dayanada Saraswathi “Vēdas are given by God. God is omnipotent, ubiquitous and has
        eternal knowledge. Therefore His Vēdas are without illusion and are self vouching”.
      </p>
      <h5>Who can study Vēdas? </h5>
      <p class="py-6">
        According to Yajur Vēda mantra (26.2) (The above mantra) everyone in the universe is eligible to read Vēdas.
      </p>
      <p class="py-6">
        According to Manu “educating people by teaching Vēdas is the best act that any individual or society can do”.
      </p>
      <p class="py-6">
        This mantra is from Atharva Vēd 10th Mandalam, 23rd Prapātak, 4th Anuvāk, 7th Suktham and 20th mantra. From the
        almighty God Rig, Yajur, Sāma and Atharva Vēd were born. Atharva is equal to His Face, Sāma is equal to His
        hair, Yajur is equal to His heart and Rig Vēda is equal to His Prānna. He is the Vēda Kartha (creator). Here God
        has described the production of Vēdas with Rōpaka Alankāra. It does not mean God has a form like a human. This
        description gives the importance of these Vēdas and their function. For example let us discuss about the
        description “Yajur is like His heart”. Since God is everything of the Universe and if Universe be compared to
        the human body then Yajur is like heart. We know what the function of heart is. Heart pumps the blood to every
        part of the body and keeps them working. That means if humans do not do proper work the Universe will not exist
        (What?). Yes if the heart does not work the human body does not work. In Yajur Vēda all Karmas are described for
        humans to perform. Therefore the humans have to perform Karmas as given in Vēdas. As heart takes in bad blood
        and sends it to lungs for purification similarly Yajur Vēda tells us about the Yagna Prakriya in which we will
        learn how to perform Yagna and purify the Universe. Also Yajur Vēda contains the information about the other
        works (Karmas) that humans should do. Rig is like Prānna of the body. Without Prānna no human can be alive.
        Similarly without the knowledge and uses of the materials of this world, one cannot use the Universe and get
        benefitted and the human who could not use this fact is equal to dead. Atharva is equal to face of the Universe.
        We recognize people with their face and also face contains the main senses of the body. That means with the help
        of Atharva Vēd one should access the Universe. Sāma is like hair of the human. I leave it to the readers to
        think the importance of Sāma Vēd.
      </p>
      <h5>What does Rig Vēda contain?</h5>

      <ul>
        <li>Rig Vēda contains a total of 10,522 Mantras.</li>
        <li>Rig Vēda is called Gnana Kanda.</li>
        <li>Rig Vēda contains knowledge about every matter that is present in the world including God and their
          properties.</li>
        <li>Rig Vēda is divided into 10 Mandalas, 85 Anuvakas, 1028 Sukthas and contains 10,522 Mantras.</li>
      </ul>
      <p class="py-6">These Mantras have a Rishi name or several Rishis names (Those who first realized the mantra
        meaning), Devatha (The prominent meaning on which the mantra was given), Chanddass (Type of Poem)1 and Swara
        (Type of musical
        note which appoints the meaning to the mantra).
      </p>


      <h5>
        What does Yajur Vēda contain?</h5>

      <ul>
        <li>Yajur Vēda contains 40 Adyayas and 1,975 Mantras.</li>
        <li>Yajur Vēda contains Karma Kanda.</li>
        <li>Yajur Vēda Mantras have Rishi, Devatha, Chanddass and Swara.</li>
      </ul>
      <p class="py-6">Yajur Vēda describes every act that humans must follow. Also it describes government, dharma,
        yagna, getting
        education from Vēdas, how to win over enemies in the war, how to use agni and such materials in vehicles, how to
        live more than 300 years, medicine, mathematics, construction of buildings, what food should be taken,
        description of God, final rituals etcetera. </p>

      <h5>What does Sāma-Vēda contain?</h5>
      <ul>
        <li>Sāma Vēda contains 1,875 Mantras.</li>
        <li>Sāma Vēda is divided into Two Main Parts. (1) Purvarchika (2) Uttarachika</li>
        <li>In the first part there are 3 kandas, 6 prapatakas, 6 adhyayas and mantras.</li>
        <li>In the second part there are 9 prapatakas, 21 adhyayas and mantras.</li>
        <li>These Mantras have Rishi, Devatha, Chanddass and Swara.</li>
        <li>This Vēda is sung as a song.</li>
        <li>In Sāma Vēda mainly Upāsana of God is described.</li>
      </ul>

      <h5>What does Atharva-Vēda contain?</h5>

      <ul>
        <li>Atharva Vēda contains 5,977 Mantras.</li>
        <li>There are 20 Kandas in this Vēda and each mantra has a Rishi, Devatha and Chanddass and Swara.</li>
        <li>
          There are 9 branches in this Vēda.
          <ol>
            <li>Charana Vidya which contains medicine and surgery. </li>
            <li>Deva Darsana which
              contains Physical world knowledge.</li>
            <li>Brahma Vēda contains Brahma Gynana.</li>
            <li>Jalad contains knowledge about
              water</li>
            <li>Jajvali contains knowledge about Agni</li>
            <li>Shounaka contains about Brahma</li>
            <li>Modha contains knowledge
              about how to increase mind and life of a person. </li>
            <li>Pipalad contains the duties of jeeva and Brahma </li>
            <li>Tantra
              contains knowledge about electricity, scientific activities, chemical, air, water, poison, artillery
              etcetera.</li>
          </ol>
        </li>
      </ul>

      <h5> How many Branches of Vēdas do we have?</h5>

      <p class="py-6">
        We have 1127 branches which are explanations or commentaries of Vēdas that are given by Rishis. Each Vēda (Rig,
        Yajur, Sama and Atharva) is divided into branches which when added gives 1127.
        The following are NOT Vēdas but are Sastras (Written by Rishis) which are used for educating a student1. These
        are not Vēdas because these sastras depend on Vēdas for proof. Whereas Vēdas are self vouching. Every Sastra
        refers
        to Vēdas in providing evidences and Vēdas provide themselves for proofs and do not depend on any other sastra.
      </p>

      <ol>
        <li>There are six Vēdangas viz., Siksha (Written by Rishi Pānini and gives basic letters and lessons of
          Samskrutham),
          Astadyayi (Gives Grammar), Mahabhashyam (Grammar), Negantu/ Neruktam (Written by Rishi Yaska and is a Vedic
          Dictionary and its explanation), Chanddassu (Written by Pingallacharya and is connected with Prose and
          Poetry),
          and Jyothishyam (Surya Sidantha which includes Mathematics and Astrophysics).</li>
        <li>Manusmruthi (Manu`s writings), Rāmāyana (History), and Maha Bharatha (History).</li>
        <li>Six Darshanas viz., Pūrva Memāmsa, Visheshikam, Nyayam, Yogam, Shankya and Vēdantha.</li>
        <li>There are Ten Upanishads viz., Ēsa, Kēna, Kata, Prasna, Mundaka, Māndūkya, Itharēya, Thitariya, Chāndogya
          and
          Brihadaranyaka. Also the eleventh Upanishad is Swethaswatharōpanishad.</li>
        <li>There are Four Brāhmanās viz., Ithareya, Shathapatha, Sāma and Gōpatha.</li>
        <li>Upavedas viz., Ayurveda (Medicine), Dhanurveda (Martial arts and Government), Ghandarva Vidya (Vocal Music,
          Musical Instruments and Dance), Artha Vēda or Shilpa Vidya (Material science, Engineering and Scientific
          Technical skills and construction)</li>
        <li>Brahmanas, Aranyakas, Upanishads and Darsanas are not Vēdas. These are human literatures giving the
          explanations on Vēda Mantras or related descriptions.</li>
      </ol>

      <h5>About Creation in Vēdas</h5>

      <p class="py-6">
        According to Vēdas only God, Jeevatma and God’s ability (Which is called as Prakrithi after creation) were
        present before creation.</p>
      <ul>
        <li>At that time not even Paramanus (smallest entities or elementary particles) were present.</li>
        <li>At that time not even darkness was present.</li>
        <li>Even before Sun and moon were created, the creation of the universe has begun.</li>
        <li>It is not possible to know directly (So indirect methods should be applied) how the creation started.</li>
        <li>In Rig Vēda, 10th Mandalam, 190 suktham has three mantras only. These give how the creation was started.
        </li>
        <li>Rig Vēd 10th Mandalam gives about Creation of the Universe.</li>
      </ul>
      <p class="py-6">
        There are many mantras in Vēdas which give a detailed description of creation.
        For convenience some of these mantras are collected from different Vēdas and put together as Purusha Suktham.
      </p>
      <h5>
        What is the essence of Vēdas?</h5>

      <ul>
        <li>To know God.</li>
        <li>To know what to do according to science and to know what is science.</li>
        <li>To know every dharma and act accordingly.</li>
        <li>To perform the duties righteously.</li>
        <li>To get salvation (Mōksham).</li>
      </ul>

      <h5>
        References</h5>

      <ol>
        <li>RigVeda Bhasyam by Maharshi Dayananda Saraswathi</li>

        <li>Manu Smruthi</li>
      </ol>
    </div>
  </section>

</main><!-- End #main -->