vedas home page
<!-- Page title ends -->
<div class="w-full">

    <div class="container mx-auto px-6 pl-0">
        <div class="w-full h-full text-lg">
            <div class="flex flex-row">
                <!-- <app-left-nav></app-left-nav> -->
                <!-- Place your content here -->
                <div class="pl-5">
                    <!-- Page title starts -->
                    <div
                        class="ml-5 my-6 lg:my-8 container px-6 mx-auto flex flex-col lg:flex-row items-start lg:items-center justify-between">
                        <div>


                            <h4 class="text-2xl font-bold leading-tight text-gray-800">Welcome (स्वागतम्) to Vedas
                                Homepage
                            </h4>

                            <p class="py-6">
                                Vēdas are given by God in the form of Rig-Vēda, Yajur-Vēda, Sama-Vēda and Atharva-Vēda.
                                Rig-Vēda contains 10,522 Mantras, Yajur-Vēda contains 1975 Mantras,
                                Sama-Vēda contains 1875 Mantras and Atharva-Vēda contains 5977 Mantras.
                                The total Vēda Mantras are 20349.
                            </p>

                        </div>
                    </div>


                    <p class="py-6">
                        Vēdas are given by God in the form of Rig-Vēda, Yajur-Vēda, Sama-Vēda and Atharva-Vēda.
                        Rig-Vēda contains 10,522 Mantras, Yajur-Vēda contains 1975 Mantras,
                        Sama-Vēda contains 1875 Mantras and Atharva-Vēda contains 5977 Mantras.
                        The total Vēda Mantras are 20349.
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>